RewriteCond %{HTTP_USER_AGENT} (.*)Mobile
RewriteCond %{HTTP_REFERER} !^https:\/\/m\.?morozov-online\.com\/index.html?$
RewriteRule ^(/)?$ http://m.morozov-online.com/index.html [R]

RewriteEngine on RewriteBase /
RewriteCond %{HTTP_HOST} www.morozov-online.com
RewriteRule (.*) http://morozov-online.com/$1 [R=301,L]

RewriteEngine on RewriteBase /
RewriteCond %{HTTP_HOST} ^74\.208\.207\.78
RewriteRule (.*) http://morozov-online.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.morozov-online\.com$ [NC]
RewriteRule ^(.*)$ https://morozov-online.com/$1 [R=301,L]

RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

ErrorDocument 404 /404.html
