* { 
margin: 0; 
padding: 0; 
border: 0;
} 
A:link {
color: black;
text-decoration: none;
}
A:visited {
color: gray;
text-decoration: none;
}
A:active {
color: black;
font-weight:800;
text-decoration: none;
}
A:hover {
color: red;
font-weight:800;
text-decoration: underline;
}
body { 
background-color: white;
font-family: Arial, Verdana, Helvetica, sans-serif;
padding-top: 5px;
} 
#container { 
width: 320px;
margin: 0 auto;
border: 3px solid #363636;
height: 610px;
}
h1 {
color: #e4e0e0;
font-size:25px;
font-weight:bold;
}
h2 {
font-size:20px;
font-weight:bold;
color: #e4e0e0;
}
p {
color:black;
font-size:19px;
}
#header {
width: 320px;
height: 70px;
background-color: #363636;
}
#header1 {
height: 30px;
display: table-cell;
padding-left: 10px;
}
#header2 {
height: 35px;
padding-left: 10px;
border-top: 2px solid grey;
border-bottom: 5px solid grey;
}
#main {
margin-top: 10px;
padding-left: 10px;
padding-right: 10px;
}